<?xml version="1.0"?>
<launch>
  <group ns="minibot">

  <arg name="use_rviz" default="false" />
   
  <!-- <include file="$(find minifrc_arm_moveit_config)/launch/demo.launch">
    <arg name="use_rviz" value="$(arg use_rviz)"/>
  </include> -->

   <!-- GDB functionality -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  
  <!-- Load example URDF-->
  <param name="robot_description" command="$(find xacro)/xacro '$(find minifrcrobot_description)/urdf/robot.urdf'" /> 


    <!-- Load hardware interface -->
    <node name="minibot_hardware_interface" pkg="minimotor" type="minibot_hw_main"
          output="screen" launch-prefix="$(arg launch_prefix)"/>

    <!-- Load controller settings -->
    <rosparam file="$(find minimotor)/config/minibot_controllers.yaml" command="load"/>

    <!-- Load controller manager -->
    <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false"
	  output="screen" args="spawn joint_state_controller mecanum_drive_controller test_servo_controller intake_controller" />

    <!-- Convert joint states to /tf tranforms -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!-- <node name="joy_node" pkg="joy" type="joy_node">
      <param name="dev" value="/dev/input/js0"/>
    </node>

    <node name="joy_node_operator" pkg="joy" type="joy_node">
      <remap from="joy" to="joy_operator"/>
      <param name="dev" value="/dev/input/js1"/>
    </node> -->

    <!-- <node name="teleop_node" pkg="minimotor" type="teleop_node.py"/> -->

    <node name="drive_to_point" pkg="minimotor" type="drive_to_point.py"/>

  </group>

</launch>
