<?xml version="1.0"?>
<launch>
  <group ns="minibot">
   
  <!-- <include file="$(find minifrc_arm_moveit_config)/launch/demo.launch">
    <arg name="use_rviz" value="false"/>
  </include> -->
  
    <!-- Convert joint states to /tf tranforms -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <node name="joy_node" pkg="joy" type="joy_node">
      <param name="dev" value="/dev/input/event17"/>
    </node>

    <node name="teleop_node" pkg="minimotor" type="teleop_node.py"/>

  </group>

</launch>
