<?xml version="1.0"?>
<launch>
  <include file="$(find minivision)/launch/zed_only.launch" />
  <include file="$(find tagslam_launch)/launch/zed_realtime.launch">
    <arg name="side" value="red"/>
  </include>
  <node pkg="tf2_ros" type="static_transform_publisher" name="floor_broadcaster" args="0 0 0 0 0 0 tag_2 tag_19" />
</launch>